<header class="headerProfile">
    <div class="sectionPhotoProfile">
      <div class="photoProfileConteiner">
        <!-- TODO LIST >> SUBSTITUIR ALT -->
        <img src="<%= user.photo_profile %>"  alt="Foto do perfil de <%= user.fullname %>">
      </div>
    </div>
    <section class="sectionInfoProfile">
      <div class="headerInfoProfile">
        <div id="userName">
          <h2>@<%= user.username %> </h2>
        </div>
        <div id="actionButtons">
          <a href="/accounts/edit"><button type="button">Edit Profile</button></a>
          <a href="/accounts/logout"><button type="button">Logout</button></a>
        </div>
      </div>
      <div class="accountInfos">
        <ul>
          <!-- TODO LIST >> INSERIR DATA ACCOUNT -->
          <li><span><span id="dataAccount">73</span> publicações</span></li>
          <li><span><span id="dataAccount">509</span> seguidores</span></li>
          <li><span><span id="dataAccount">399</span> seguindo</span></li>
        </ul>
      </div>
      <div class="descriptionProfile">
        <h1><%= user.fullname %> </h1>
        <span><%= user.biography %> </span>
      </div>
    </section>
  </header>