<header class="headerProfile">
    <div class="sectionPhotoProfile">
      <div class="photoProfileConteiner">
        <!-- TODO LIST >> SUBSTITUIR ALT -->
        <img src="<%= user.photo_profile %>"  alt="Foto do perfil de <%= user.fullname %>">
      </div>
    </div>
    <section class="sectionInfoProfile">
      <div class="headerInfoProfile">
        <div id="userName">
          <h2>@<%= user.username %> </h2>
        </div>
        <%- include('_profileActionButtons')%>

      </div>
      <div class="accountInfos">
        <ul>
          <!-- TODO LIST >> INSERIR DATA ACCOUNT -->
          <li><span><span id="dataAccount"><%= posts.length %> </span> posts</span></li>
          <li><span><span id="dataAccount"><%= followers.count %> </span> followers</span></li>
          <li><span><span id="dataAccount"><%= following.count %></span> following</span></li>
        </ul>
      </div>
      <div class="descriptionProfile">
        <h1><%= user.fullname %> </h1>
        <span><%= user.biography %> </span>
      </div>
    </section>
  </header>