<head>
  <link rel='stylesheet' href='/stylesheets/_navHeader.css' type="text/css" />
</head>
<nav>
  <div class="navConteiner">
    <div class="navContent">
      <div class="logo">
        <a href="/">
          <h1>not_so_Instagram</h1>
        </a>
      </div>
      <div class="searchBar">
        <p>Aqui vai a barra de pesquisa</p>
      </div>
      <div class="navButtons">
        <div class="navButtonItem">
          <a href="/"><%- include('../../public/images/icons/home.svg')%></a>
        </div>
        <div class="navButtonItem">
          <a href="/"><%- include('../../public/images/icons/direct.svg')%></a>
        </div>
        <div class="navButtonItem">
          <a href="/"><%- include('../../public/images/icons/explore.svg')%></a>
        </div>
        <div class="navButtonItem">
          <a href="/"><%- include('../../public/images/icons/like.svg')%></a>
        </div>
        <div class="navButtonProfile">
          <a href="/">
            <img src="/<%= user.photo_profile %>" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>