<%- include('./includes/_head')%>

<body>
    <%- include('./includes/_navHeader')%>

    <main>
        <div class="actionButton">
            <div class="totalUsers">
                <span> Total Registered Users: <%= totalUsers %> </span>
            </div>
            <div class="buttonDatabase">
                <a class="btn btn-success btn-sm" href="/database/faker">Create new faker account</a>
                <a class="btn btn-info btn-sm" href="/database">Show all created account</a>
                <a class="btn btn-danger btn-sm" href="/database/truncate">Delete all created account</a>
            </div>
        </div>
        <div class="tableDatabase">
            <table class="table force-overflow">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Profile Photo</th>
                        <th scope="col">Fullname</th>
                        <th scope="col">Username</th>
                        <th scope="col"><%- include('../public/images/icons/mais.svg')%></th>
                    </tr>
                </thead>
                <tbody>
                    <% usersDatabase.forEach(user => { %>
                    <tr>
                        <th scope="row"><a href="/database/<%= user.id %>"><%= user.id %></th>
                        <td><a href="/database/<%= user.id %>"><img class="photoProfile" src="<%= user.photo_profile %>" alt=""></a></td>
                        <td><a href="/database/<%= user.id %>"><%= user.fullname %></a></td>
                        <td><a href="/database/<%= user.id %>"><%= user.username %></a></td>
                        <td scope="col"><a href="/database/delete<%=user.id%>"><%- include('../public/images/icons/caixote-de-lixo.svg')%></a></th>
                            
                    </tr>
                    <% }) %>

                </tbody>
            </table>
        </div>

    </main>
    <%- include('./includes/_footer')%>
    <link rel='stylesheet' href='/stylesheets/database.css' type="text/css" />
    <%- include('./includes/_bootstrapScript')%>


</body>