<!DOCTYPE html>
<html lang="en">

<%- include('./includes/_head')%>

<body>
    <main>
        <h1><%= title %></h1>
        <ul>
            <% lista.forEach(user => { %>
                <li>
                    <%= user.fullname %>
                </li>
            <% });%>


        </ul>
        <p><%= lista.nome %></p>
    </main>
    <%- include('./includes/_footer')%>
    <link rel='stylesheet' href='/stylesheets/database.css' type="text/css" />

</body>