<!DOCTYPE html>
<html lang="en">

<%- include('./includes/_head')%>

<body>
    <%- include('./includes/_navHeader')%>

    <main>
        <div class="actionButton">
            <div class="totalUsers">
                <span> Total Registered Users: <%= totalUsers %> </span>
            </div>
            <div class="buttonDatabase">
                <a class="btn btn-success btn-sm" href="/database/faker">Create new faker account</a>
                <a class="btn btn-info btn-sm" href="/database">Show all created account</a>
                <a class="btn btn-danger btn-sm" href="/database/truncate">Delete all created account</a>
            </div>
        </div>
        <div class="tableDatabase">
            <table class="table force-overflow">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Fullname</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Username</th>
                        <th scope="col">Profile Photo</th>
                        <th scope="col">Created_At</th>
                        <th scope="col">Updated_At</th>
                        <th scope="col"><%- include('../public/images/icons/mais.svg')%></th>
                    </tr>
                </thead>
                <tbody>
                    <% usersDatabase.forEach(user => { %>
                    <tr>
                        <th scope="row"> <%= user.id %> </th>
                        <td> <%= user.fullname %> </td>
                        <td> <%= user.email %> </td>
                        <td> <%= user.username %> </td>
                        <td> <%= user.profile_photo %> </td>
                        <td> <%= user.createdAt.toUTCString() %> </td>
                        <td> <%= user.updatedAt.toUTCString() %> </td>
                        <td scope="col"><a href="/database/delete<%=user.id%>"><%- include('../public/images/icons/caixote-de-lixo.svg')%></a></th>
                    </tr>
                    <% }) %>

                </tbody>
            </table>
        </div>

    </main>
    <%- include('./includes/_footer')%>
    <link rel='stylesheet' href='/stylesheets/database.css' type="text/css" />
    <%- include('./includes/_bootstrapScript')%>


</body>