<%- include('./includes/_head')%>

<body>
    <%- include('./includes/_navHeader')%>
    <main>
        <div class="mainConteiner">
            <div class="menuEdit">
                    <a href="" class="active">Edit Profile</a>
                    <a href="">Change Password</a>
                    <a href="">Log Activity</a>
            </div>
            <div class="painelEdit">
                <div class="headPainel">
                    <div class="photoProfile">
                        <a href="#" data-toggle="modal" data-target="#modalUpdatePhoto"><img src="/<%= user.photo_profile %>" alt=""></a>
                    </div>
                    <div class="dataProfile">
                    <h1> <%= user.username %>  </h1>
                    <button type="button" data-toggle="modal" data-target="#modalUpdatePhoto">
                        Change Profile Photo
                    </button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="modalUpdatePhoto" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePhotoLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h3 class="modal-title" id="modalUpdatePhotoLabel">Charge Profile Photo</h3>
                            </div>
                            <form action="/accounts/edit/updatePhoto" enctype="multipart/form-data" method="POST" id="formUpdatePhoto">
                                <div class="modal-body">
                                    <label for="updatePhoto" id="btnUpload" >Upload Photo</label>
                                    <input type="file" name="updatePhoto" id="updatePhoto">
                                    <input type="submit" id="updatePhoto" value="Send Request">
                                    <label for="send" id="btnUpload" >Send Photo</label>
                                    <input type="submit" id="send" value="Send Request">
                                </div>
                            </form>
                            <form action="/accounts/edit/updatePhoto?_method=DELETE" method="POST" id="formDeletePhoto">
                                <div class="modal-body">
                                    <label for="removePhoto" id="btnRemove">Remove Current Photo</label>
                                    <input type="submit" name="removePhoto" id="removePhoto">
                                    <label for="cancel" id="btnCancel">Cancel</label>
                                    <input type="button" name="cancel" id="cancel" data-dismiss="modal">
                                </div>
                            </form>

                        </div>
                        </div>
                    </div>
                </div>
                <form action="/accounts/edit?_method=PUT" method="POST" class="formEdit">
                    <label for="fullname">Name</label>
                    <input type="text" id="fullname" name="fullname" minlength="4" maxlength="192" value="<%= user.fullname %>">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" minlength="5" maxlength="40" value="<%= user.username %>">
                    <label for="website">Websit</label>
                    <input type="text" id="website" name="website" value="<%= user.website %>">
                    <label for="biography">Bio</label>
                    <textarea name="biography" id="biography" maxlength="150"><%= user.biography %></textarea>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" minlength="10" maxlength="192" value="<%= user.email %>">
                    <label for="phone">Phone Number</label>
                    <input type="text" id="phone" name="phone" value="<%= user.phone %>">
                    <label for="gender">Gender</label>
                    <input type="text" id="gender" name="gender" maxlength="20" value="<%= user.gender %>">
                    <label for=""></label>
                    <div class="formButtons">
                        <button type="submit" id="submit">Submit</button>
                        <button type="button" id="disable">Temporarily disable my account</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <%- include('./includes/_footer')%>
    <%- include('./includes/_bootstrapScript')%>
</body>
<link rel='stylesheet' href='/stylesheets/editProfile.css' type="text/css" />